.nav-bar{
  background: #d2d2d2;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: bold;
}

.search-field{
  min-width: -webkit-fill-available;
  border: none;
  padding: 10px;
}

.item-name { 
  grid-area: fnName; 
  font-weight: bold;
  margin-bottom: 5px;
}

.item-rel { 
  grid-area: relation; 
  color: #afafaf;
}

.item-fav { 
  grid-area: favourite-icon; 
  justify-content: center;
  background: #ececec;
  border: none;
  border-radius: 5px;
}

.item-del { 
  grid-area: delete-icon; 
  justify-content: center;
  background: #ececec;
  border: none;
  border-radius: 5px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'fnName fnName fnName fnName favourite-icon delete-icon'
    'relation relation relation relation favourite-icon delete-icon';
  /* grid-gap: 10px;
  background-color: #2196F3; */
  padding: 15px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  /* text-align: center;
  font-size: 30px; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.fav-del{
  height: 30px;
  width: 40px;
}

hr{
  margin: 0px !important;
}

.color-yellow{
  color: #c7c7c7;
}